{% extends 'body.html' %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet"
      href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

<link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
<script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<script type="application/javascript">
    //Funcion para generar el TOKEN para pasar por Javascript Info al Backend
    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    //Constante TOKEN
    const csrftoken = getToken('csrftoken');
</script>

{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card card-group">
            <div class="card-group">
                <!-- Busqueda -->
                <div class="col-lg-12">
                    <form class="card">
                        <div class="input-group">
                            <input type="text" class="form-control col-12" autocomplete="off"
                                   placeholder="Buscar productos" maxlength="50" name="search">
                            <div class="input-group-append">
                                <button id="clearSearch" class="btn btn-navbar" type="button" name="clearSearch"
                                        data-widget="navbar-search">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--Producto 1 al 3-->
                {% for p in principales %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-header text-center text-sm">
                            <h4> {{ p.titulo }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <h3 class="d-inline-block d-sm-none"></h3>
                                    <div class="col-12">
                                        <img src="{{ p.imagen.url }}" class="product-image" alt="Product Image">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="py-2 px-2 mt-1">
                                        <h5 class="mt-0 text-xl-center">
                                            <small> Precio: ${{ p.precio }} </small>
                                        </h5>
                                    </div>
                                    <div class="py-2 px-2">
                                        <a href="{% url 'ecommerce:dashboard_view' p.id %}"
                                           class="btn btn-success btn btn-flat">
                                            <i class="fas fa-eye text-sm-center"></i> Ver producto
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--Resto de los PRODUCTOS-->
            <div class="card card-default">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-default">
                            <div class="card-body">
                                <table class="table" id="data">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 30%;">Categoría</th>
                                        <th scope="col" style="width: 30%;">Producto</th>
                                        <th scope="col" style="width: 20%;">Imagen</th>
                                        <th scope="col" style="width: 10%;">Ver</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for c in secundarios %}
                                    <tr>
                                        <td>{{ c.categoria.descripcion }}</td>
                                        <td>{{ c.titulo }}</td>
                                        <td>{{ c.imagen.url }}</td>
                                        <td>
                                            <a href="{% url 'ecommerce:dashboard_view' c.id %}"
                                               class="btn btn-success btn-xs btn-flat">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--FIN Resto de los PRODUCTOS-->
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="application/javascript">
    $(function () {
        $('#data').DataTable({
            paging: false,
            searching: false,
            ordering: false,
            responsive: true,
            autoWidth: false,
            info: false,
            columnDefs: [
                {
                    targets: [-4, -3, -1],
                    class: 'text-center',
                },
                {
                    targets: [-2],
                    class: 'text-center',
                    render: function (data, type, row) {
                        return '<img src="' + data + '" class="img-fluid d-block mx-auto" style="width: 30px; height: 30px;">';
                    }
                },
            ],
        });
    });

    // buscar productos
    $('input[name="search"]').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                data: {
                    'action': 'autocomplete',
                    'term': request.term
                },
                dataType: 'json',
            }).done(function (data) {
                response(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                //alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        },
        delay: 100,
        minLength: 1,
        select: function (event, ui) {
            var prod = 'ui.item.id';
            console.log(prod);
            // var prod = '{{request.user}}'
            window.location = 'view/' + ui.item.id;
            // window.location.href = 'ecommerce:producto_view ui.item.id';
        }
    });

    //Click para borrar busqueda
    $('#clearSearch').on('click', function () {
        $('input[name="search"]').val('');
    })

</script>
{% endblock %}

