{% extends 'body.html' %}
{% load static %}
{% block head %}
<script type="application/javascript">
    //Obtenemos el usuario actual
    var user = '{{request.user}}'

    //Funcion para generar el TOKEN para pasar por Javascript Info al Backend
    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    //Constante TOKEN
    const csrftoken = getToken('csrftoken');
</script>
{% endblock %}
{% block content %}
<!-- Default box -->
<div class="card card-solid">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3 class="d-inline-block d-sm-none"></h3>
                <div class="col-12">
                    <img src="{{ producto.imagen.url }}" class="product-image" alt="Product Image">
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <h3 class="my-3">{{ producto.titulo }}</h3>
                <p>{{ producto.categoria.descripcion }}</p>
                <p>{{ producto.descripcion }}</p>
                <hr>
                <div class="bg-gray py-2 px-3 mt-2">
                    <h2 class="mb-0">
                        Precio:
                    </h2>
                    <h4 class="mt-0">
                        <small>{{ producto.precio }} </small>
                    </h4>
                </div>
                <div class="mt-4">
                    {% if not request.user.is_superuser %}
                    <button data-user="{{ request.user }}" data-product="{{ producto.id }}"
                            data-action="add" class="btn btn-primary btn-lg btn-flat btnAddCart">
                        <i class="fas fa-cart-plus fa-lg mr-2"></i> Agregar al carrito
                    </button>
                    {% endif %}
                    <a href="{% url 'ecommerce:dashboard' %}" class="btn btn-default btn-lg btn-flat">
                        <i class="fas fa-times"></i> Volver atras
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    //Click para agregar al carrito
    $('.btnAddCart').on('click', function () {
        var productId = this.dataset.product;
        var action = this.dataset.action;
        //console.log(user);
        if (user == 'AnonymousUser') {

            console.log('Usuario no autenticado')
            var url = location.href;
            url = url.replace("http://127.0.0.1:8000/", "");
            $.confirm({
                title: 'Debe iniciar sesión o registrarse',
                content: 'Si desea hacerlo, haga click en "SI"',
                buttons: {
                    Si: function () {
                        var urlLogin = 'http://127.0.0.1:8000/login/'
                        window.location = (urlLogin+'?next=/'+url);
                    },
                    heyThere: {
                        text: 'No',
                        action: function () {
                        }
                    }
                }
            });
        } else {
            addCart(user, productId, action)
        }
    })

    //Funcion para enviar el producto al BACKEND
    function addCart(user, productId, action) {
        var url = '/carrito/add/'
        fetch(url, {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'productId': productId, 'action': action})
        })
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                Swal.fire({
                    icon: 'success',
                    title: 'Producto agregado al Carrito',
                    showConfirmButton: false,
                    timer: 1500
                }).then((result) => {
                    // Reload the Page
                    location.reload();
                });
            })
    }
    ;
</script>
{% endblock %}
